
[submodule "SMBR.Can/Codes/include/codes"]
	path = SMBR.Can/Codes/include/codes
	url = https://github.com/TrendBit/SMBR-CANBUS-Codes
[submodule "SMBR.Utilities/reactor-can-watch"]
	path = SMBR.Utilities/reactor-can-watch
	url = https://github.com/TrendBit/SMBR-candump.git
