[Unit]
Description=SMBR Web Control Service TS
After=network.target
After=reactor-api-server.service
Wants=reactor-api-server.service

[Service]
Type=simple
WorkingDirectory=/home/reactor/server-ts/server
ExecStart=/usr/bin/node dist/src/server.js
Restart=always
User=root

[Install]
WantedBy=multi-user.target
