[Unit]
Description=SMBR API Server Service
After=network.target
After=smbr-core-module.service
Wants=smbr-core-module.service


[Service]
Type=simple
ExecStart=/usr/local/bin/smbr-api-server
Restart=always
User=root

[Install]
WantedBy=multi-user.target
