[Unit]
Description=SMBR API Server Service
After=network.target
After=reactor-startup-updates.service
Wants=reactor-startup-updates.service


[Service]
Type=simple
ExecStart=/usr/bin/reactor-api-server
Restart=always
User=root

[Install]
WantedBy=multi-user.target
