[Unit]
Description=SMBR Core Module Service
After=network.target
After=can0.service
Wants=can0.service


[Service]
Type=notify
ExecStart=/usr/bin/reactor-core-module
Restart=always
User=root

[Install]
WantedBy=multi-user.target
