[Unit]
Description=SMBR Web Control Service
After=network.target
After=reactor-api-server.service
Wants=reactor-api-server.service

[Service]
Type=simple
WorkingDirectory=/home/reactor/server
ExecStart=node .
Restart=always
User=root

[Install]
WantedBy=multi-user.target
