[Unit]
Description=SMBR Core Module Service
After=network.target
After=can0.service
Wants=can0.service


[Service]
Type=simple
ExecStart=/usr/local/bin/smbr-core-module
Restart=always
User=root

[Install]
WantedBy=multi-user.target
