#one time unit running update.py script

[Unit]
Description=SMBR Can modules firmware update service
After=network.target
Wants=reactor-api.service

[Service]
Type=oneshot
WorkingDirectory=/home/reactor/firmware
ExecStart=/bin/bash -c 'systemctl stop reactor-api-server.service reactor-core-module.service && /usr/bin/python3 /home/reactor/firmware/update_all_modules.py -y -d /home/reactor/firmware/binaries/ && systemctl start reactor-api-server.service reactor-core-module.service'
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
